<!doctype html>
<html>

<head>
    <title>Quick and Dirty Credentials</title>
</head>

<body>
    <h1>Quick and Dirty Credentials: </h1>
    <h2>Notice:</h2>
    <ul>
        <li>Do
            <strong>NOT</strong> use for production this is just for proof of concept. Which is why this only accepts a user name
            and it will generate a token for you. </li>
        <li>All information is as anonymous as you make it with the username you want to use. </li>
        <li>
            <strong> Do not lose token or share it with anyone else</strong>,that is your access token.</li>
        <li>After generating a token, you will not be able to recover or update it. </li>
        <li>This site stores your login, generated here</li>
        <li>This site stores the links to anything uploaded, which individuals with access tokens may access. </li>
        <li>You may only upload files for the use on the High Fidelity platform. Only exception is html pages</li>
        <li>You can only upload zip or fbx files into the services</li>
        <li>If you upload a zip file, additional formats supported within the zip file are: fbx, tga, png, jpg, fbm, js, fst</li>
        <li>Suggest method of upload, use the Blender plugin. Blender will generate the links</li>
    </ul>
    <h3>You agree to following:</h3>
    <h2>July 9 2018</h2>
    <ul>
        <li>
            <h2>Anything you upload to service via the blender plugin or this service will be put onto the ipfs
                <strong>Anyone with the ipfs url</strong> will be able to access the file</h2>
        </li>
        <li>You agree not to upload any Personal information onto this prototype site.</li>
        <li>You agree
            <strong>that you have rights to upload the materials you upload to the IPFS</strong> via this service</li>
        <li>Accept that this is just a relay service which does nothing with your data, but passing it on into the ipfs node
            network.</li>
    </ul>
    <p>When you Generating a key, you accept the above conditions</p>
    <form method=post>
        <input type=text placeholder="username of choice" name=username>
        <input type=submit value="I Agree and Generate">
    </form>
</body>

</html>