<!doctype html>
<html>

<head>
    <title>Uploads</title>

</head>

<body>
    <h1> List of IPFS Uploads by {{ username }}</h1>
    <table>
        <tr>
            <th>IPFS Hash</th>
            <th>Name</th>
            <th>Upload Date</th>
            <th>Copy Avatar Link</th>
        </tr>
        {% for upload in uploads %}
        <tr>
            <td>
                <a href="https://gateway.ipfs.io/ipfs/{{ upload.ipfs_hash }}">{{ upload.ipfs_hash }}</a>
            </td>
            <td>{{ upload.original_name }}</td>
            <td>{{ upload.date }}</td>
            <td>
                {% if upload.parent_hash == upload.ipfs_hash and upload.is_avatar %}
                <a href="#">https://gateway.ipfs.io/ipfs/{{upload.parent_hash}}/{{upload.original_name}}.fst</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>