<!doctype html>
<html>

<head>
    <title>Upload new File</title>
</head>

<body>
    <h1>Upload new File</h1>
    <ul>
        <li>
            <h2>Anything you upload to service via the blender plugin will be put onto the ipfs for everyone
                <strong>with the ipfs url</strong> to the file</h2>
        </li>
        <li>You agree not to upload any Personal information onto this prototype site.</li>
        <li>Uploading
            <strong>you agree that you have rights to upload the materials you upload to the IPFS</strong> via this service</li>
    </ul>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <br/>
        <input type=text placeholder="username" name=username>
        <br/>
        <input type=text placeholder="token" name=token>
        <br/>
        <input type=submit value=Upload>
    </form>
</body>

</html>